<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/find_id.css}">
    <title>로그인</title>
</head>
<body>
<div class="container">
    <header th:replace="layout/header.html"></header>
    <div class="box">
        <main>
            <section>
                <h2>아이디 찾기</h2>
                <div>
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <p>이름</p>
                            </td>
                            <td>
                                <input
                                        class="form__input"
                                        type="text"
                                        placeholder="이름 입력"
                                />
                            </td>
                        </tr>
                        <tr>
                            <td>이메일</td>
                            <td>
                                <input
                                        class="form__input"
                                        type="email"
                                        placeholder="이메일 입력"
                                />
                                <button class="form__button" onclick="sendEmail()" type="button">
                                    인증번호 받기
                                </button>

                                <div style="margin-top: 6px"></div>
                                <input
                                        class="form__input"
                                        type="text"
                                        placeholder="인증번호 입력"
                                />
                                <button class="form__button" type="button">확인</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <p class="description">
                    회원가입시 이메일 주소와 입력한 이메일 주소가 같아야, 인증번호를 받을
                    수 있습니다.<br />
                    인증번호를 입력 후 확인 버튼을 누르세요.
                </p>
                <div class="action-button-group">
                    <button class="action-button-group__button">취소</button>
                    <button class="action-button-group__button">다음</button>
                </div>
            </section>
        </main>

    </div>
    <footer th:replace="layout/footer.html"></footer>
</div>
<script>

    async function sendEmail(){
        const testData = {
            "user_name" : "이상훈",
            "user_email" : "ddd@gmail.com"
        }
        try {
            const resp = await axios.post("/api/auth/send-email",testData,{
                headers : {
                    "Content-Type" : "application/json"
                }
            })
            console.log(resp.data)
        } catch (e) {

        }
    }

</script>
</body>
</html>